<div class="card-panel">
  <h3 class="center-align">Edit</h3>
  <div class="container">
    <div class="row center">
      <div class="col s12 m12 l12">
       <%= render partial: "students/partials/form" %>
      </div>
    </div>
  </div>
</div>