<ul class="sidenav" id="mobile-sidenav">
  <%= render "shared/nav_links" %>
  <li>
    <a class="dropdown-trigger" href="#!" data-target="students_drop1">
      Account<i class="material-icons right">account_circle</i>
    </a>
  </li>
</ul>