<div class="row">
  <div class="s12">
    <h3 class="center-align">Course Listing</h3>
    <p>cookie<%= cookies[:return_to_url] %></p>
  </div>
</div>
<div class="row">
  <%= render @courses %>
</div>
